<html>
    <head>
        <meta charset="UTF-8">
        <title> Index </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">                    
    </head>
    <body></br></br></br></br></br>
        <div align="center">
          <div align="center" class="border">
             <div class="header">
                <h1 class="word">Index</h1>
             </div></br></br></br>
                <h1 class="bottom">
                     Hi {{name}}!!</br></br> Welcome to the Admin page                
                </h1></br></br></br>
                <a href="{{ url_for('assign') }}" class="btn">Assign Drivers</a>
                </br></br>
                <a href="{{ url_for('drivers') }}" class="btn">Search Drivers</a>
                </br></br>
                <a href="{{ url_for('orders') }}" class="btn">Orders</a>
                </br></br>
                <a href="{{ url_for('logout') }}" class="btn">Logout</a>
                </br></br>
                
          </div>
        </div>
    </body>
</html>